
    <div class="hero-container">
        <div class="hero-1">
            <h1>Compare mobile phones with each other, see how they stack up in terms of specifications</h1>
        </div>
        <div class="hero-2">
            <div class="hero-2-text">
                <h1>Are you confused between multiple mobile phones to choose from?</h1>
                <p class="hero-2-para">Using our website you can compare other phones side by side in order to measure each specifications of a phone against the same feature of the other ones.</p>
                <p class="hero-2-btn"><a href="/mobile/compare">Compare now <i class="fa fa-chevron-right"></i></a></p> 
            </div>
            <div class="hero-2-img"></div>
        </div>
        <div class="hero-3">
            <div class="hero-3-img"></div>
            <div class="hero-3-text">
                <h1>Compare mobiles from top brands around the world</h1>
                <p class="hero-3-para">Compare the latest mobiles and upcoming mobiles on ASAP on the basis of price and specifications.
                    The compare feature on our website helps you in selecting the best smartphone. So go ahead, do the comparison, and buy the best smartphone.</p>
                <p class="hero-3-btn"><a href="/mobile/compare">Compare now <i class="fa fa-chevron-right"></i></a></p> 
            </div>
        </div>
    </div>
    
    <div class="trend-heading">
        <h1>Trending Mobile Phone </h1>
        <hr>
    </div>

    <div class="trending-container">
        <div class="trend">
        <% details.forEach(function(detail) { if(detail.trending==="Yes"){ %> 
        <div class="trend-1">
            <div class="trend-1-img">
                <a href="/mobile/<%= detail._id %>"><img class="info" src="/img/home/info.svg" alt="" title="Check it out!" aria-hidden="true"></a> 
                <img style="height: 100%; object-fit: contain; padding: 40px;" src="/img/<%=detail.image%>" alt="">
            </div>
            <div class="trend-1-txt">
                <p><%=detail.name%></p>
            </div>
        </div>
        <%} })%>

        </div>
    </div>

    <div class="news-heading">
        <h1>News</h1><hr>
    </div>

    <div class="news-main-container">
        <div class="news-container">
            <% news.forEach(function(newses) { %>
            <div class="news-1">
                <div class="news-img first">
                    <img src="/img/news/<%=newses.image%>" alt="">
                </div>
                <div class="news-txt">
                    <h1><%=newses.heading%></h1>
                    <p><%=newses.paragraph%></p>
                </div>
            </div>
            <%})%>
        </div>
    </div>

    <div class="compare-heading">
        <h1>Pre-Compared</h1><hr>
    </div>


    <div class="compare-main-container">
        <div class="compare-container">
            <div class="compare-head-1">
                <div class="vs">
                    <form method="GET" action="Pre-compared">
                        <input type="hidden" name="compare" id="compare" value="firstCompare">
                        <input class="" type="submit" value="COMPARE">
                    </form>
                </div>
                <%details.forEach(function(detail)  { if(detail.preCompared==="firstCompare") { %>
                <div class="compare-1">
                    <div class="compare-1-img">
                        <img style="height: 100%; object-fit: contain; padding: 30px;" src="/img/<%=detail.image%>" alt="">
                    </div>
                    <div class="compare-1-txt">
                        <a href="/mobile/<%= detail._id %>"><p><%= detail.name %></p></a>
                    </div>
                </div>
                <%} })%>
            </div>
            
            <div class="compare-head-1">
                <div class="vs">
                    <form method="GET" action="Pre-compared">
                        <input type="hidden" name="compare" id="compare" value="secondCompare">
                        <input class="" type="submit" value="COMPARE">
                    </form>
                </div>
                <%details.forEach(function(detail)  { if(detail.preCompared==="secondCompare") { %>
                <div class="compare-1">
                    <div class="compare-1-img">
                        <img style="height: 100%; object-fit: contain; padding: 30px;" src="/img/<%=detail.image%>" alt="">
                    </div>
                    <div class="compare-1-txt">
                        <a href="/mobile/<%= detail._id %>"><p><%= detail.name %></p></a>
                    </div>
                </div>
                <%} })%>
            </div>
            
            <div class="compare-head-1">
                <div class="vs">
                    <form method="GET" action="Pre-compared">
                        <input type="hidden" name="compare" id="compare" value="thirdCompare">
                        <input class="" type="submit" value="COMPARE">
                    </form>
                </div>
                <%details.forEach(function(detail)  { if(detail.preCompared==="thirdCompare") { %>
                <div class="compare-1">
                    <div class="compare-1-img">
                        <img style="height: 100%; object-fit: contain; padding: 30px;" src="/img/<%=detail.image%>" alt="">
                    </div>
                    <div class="compare-1-txt">
                        <a href="/mobile/<%= detail._id %>"><p><%= detail.name %></p></a>
                    </div>
                </div>
                <%} })%>
            </div>
            
            <div class="compare-head-1">
                <div class="vs">
                    <form method="GET" action="Pre-compared">
                        <input type="hidden" name="compare" id="compare" value="fourthCompare">
                        <input class="" type="submit" value="COMPARE">
                    </form>
                </div>
                <%details.forEach(function(detail)  { if(detail.preCompared==="fourthCompare") { %>
                <div class="compare-1">
                    <div class="compare-1-img">
                        <img style="height: 100%; object-fit: contain; padding: 30px;" src="/img/<%=detail.image%>" alt="">
                    </div>
                    <div class="compare-1-txt">
                        <a href="/mobile/<%= detail._id %>"><p><%= detail.name %></p></a>
                    </div>
                </div>
                <%} })%>
            </div>
            
            <div class="compare-head-1">
                <div class="vs">
                    <form method="GET" action="Pre-compared">
                        <input type="hidden" name="compare" id="compare" value="fifthCompare">
                        <input class="" type="submit" value="COMPARE">
                    </form>
                </div>
                <%details.forEach(function(detail)  { if(detail.preCompared==="fifthCompare") { %>
                <div class="compare-1">
                    <div class="compare-1-img">
                        <img style="height: 100%; object-fit: contain; padding: 30px;" src="/img/<%=detail.image%>" alt="">
                    </div>
                    <div class="compare-1-txt">
                        <a href="/mobile/<%= detail._id %>"><p><%= detail.name %></p></a>
                    </div>
                </div>
                <%} })%>
            </div>
            
            <div class="compare-head-1">
                <div class="vs">
                    <form method="GET" action="Pre-compared">
                        <input type="hidden" name="compare" id="compare" value="sixthCompare">
                        <input class="" type="submit" value="COMPARE">
                    </form>
                </div>
                <%details.forEach(function(detail)  { if(detail.preCompared==="sixthCompare") { %>
                <div class="compare-1">
                    <div class="compare-1-img">
                        <img style="height: 100%; object-fit: contain; padding: 30px;" src="/img/<%=detail.image%>" alt="">
                    </div>
                    <div class="compare-1-txt">
                        <a href="/mobile/<%= detail._id %>"><p><%= detail.name %></p></a>
                    </div>
                </div>
                <%} })%>
            </div>
            
        </div>
    </div>
    <div class="carousel">
        <ul id="lightslider">
          <li><img src="/img/home/APPLE LOGO.svg" alt="First slide"></li>
          <li><img src="/img/home/ONEPLUS LOGO.svg" alt="Second slide"></li>
          <li><img src="/img/home/GOOGLE LOGO.svg" alt="Third slide"></li>
          <li><img src="/img/home/SAMSUNG LOGO.svg" alt="Fourth slide"></li>
          <li><img src="/img/home/HUAWEI LOGO.svg" alt="Fifth slide"></li>
          <li><img src="/img/home/XIAOMI LOGO.svg" alt="Sixth slide"></li>
        </ul>
    </div>
