<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="cHCQipAiphODLWkVXseWRFzdU4EFxiCUfD7i0Fnwe6k" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compare detailed specifications of mobile phones, smartphones side by side. Find which one's for you!"/>
    <meta property="og:url" content="https://asapcomparison.live/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ASAP - Compare phones, smartphones - asapcomparison.live" />
    <meta property="og:description" content="Compare detailed specifications of mobile phones, smartphones side by side. Find which one's for you!"/>
    <meta property="og:image" content="/img/home/logo.svg" />
    <META name="keywords" content="Mobile Phones,Mobile Prices, Mobile Prices in India, Online Mobile Compare" />
    <title><%=title%></title>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/home/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/home/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/home/apple-touch-icon-72x72.png">    
<link rel="apple-touch-icon" sizes="144x144" href="/img/home/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/home/favicon.ico">
<link rel="apple-touch-icon" sizes="120x120" href="/img/home/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/home/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/home/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/home/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/home/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/home/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/home/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" href="/img/home/favicon.ico" />
    <link  rel='alternate' href="https://asapcomparison.live" hreflang="en" />
    <link  rel='alternate' href="https://asapcomparison.live" hreflang="x-default" />

    <link rel="stylesheet" href="/css/lightslider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/Mobile-Home.css">
    <link rel="stylesheet" href="/css/single-page.css">
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/allModel.css">
    <link rel="stylesheet" href="/css/history.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/adminHome.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">  
    <link rel = "stylesheet" href = "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="http://fonts.cdnfonts.com/css/spacebit" rel="stylesheet">
                
</head>
<body>
    <div class="width_page">
        <img src="/img/home/caution.svg" alt="">
        <h1>This website doesn't support mobile devices</h1>
    </div>
    <div class="body">
    <header class="header">
        <nav class="navbar">
            <% if(user) { %>
                <% if(user.role==='admin') { %>
                    <a href="/admin/home" class="nav-logo"><img src="/img/home/logo-2.svg" alt=""></a>
            <%} else {%>
                <a href="/" class="nav-logo"><img src="/img/home/logo.svg" alt=""></a>
            <%}%>
            <%} else {%>
                <a href="/" class="nav-logo"><img src="/img/home/logo.svg" alt=""></a>
            <%}%>
            
            <ul class="nav-menu">
                
<% if(user) { %>
    <% if(user.role==='admin') { %>
       
    <li class="nav-item">
        <a href="/"  class="nav-link-1 "><img style="height: 25px" src="/img/home/home.svg" title="Home" alt=""></a>
    </li>
    <li class="nav-item">
        <a href="/admin/edit"  class="nav-link-1"><img style="height: 18px" src="/img/home/edit-solid.svg" title="Update" alt=""></a>
    </li>
    <li class="nav-item">
        <a href="/admin/newsPage"  class="nav-link-1"><img style="height: 23px" src="/img/home/news-icon.svg" title="Update news!" alt=""></a>
    </li> 
    <li class="nav-item">
        <a href="/admin/addModel"  class="nav-link-1"><img style="height: 25px" src="/img/home/add.svg" title="Add mobiles!" alt=""></a>
    </li> 
    <li class="nav-item">
        <a href="/admin/newsletter"  class="nav-link-1"><img style="height: 23px" src="/img/home/newsletter.svg" title="Send newsletter!" alt=""></a>
    </li> 
    <li class="nav-item">
        <a href="/admin/contactTable"  class="nav-link-1"><img style="height: 23px" src="/img/home/contactUs.svg" title="Contact report 🔪" alt=""></a>
    </li> 
    <li class="nav-item">
        <a href="/admin/roleUpdate"  class="nav-link-1"><img style="height: 25px" src="/img/home/users-roles.svg" title="Edit role" alt=""></a>
    </li> 
    <li class="nav-item nav_profile" >
        <a href="/customer/<%=user._id%>" title="View profile"><img src="<%=user.image%>" alt=""></a>
    </li>

<%} else {%>
     <li>
        <form id="searchbar"  class="search-form" action="/search" method="get">
            <input type="text" id="searchName" class="search-input" name="q">
            <button hidden></button>
        </form>
    </li>
    <li class="nav-item">
        <a  class="nav-link-1"><img id="searchbar_img" src="/img/home/search.svg" title="Search any product" alt=""></a>
    </li>
    <li class="nav-item">
        <a href="/mobile/compare"  class="nav-link-1"><img src="/img/home/compare.svg" title="Compare mobiles!" alt=""></a>
    </li>
    <li class="nav-item">
        <a href="/customer/history"class="nav-link-2"><img src="/img/home/history.svg" title="Check out your history" alt=""></a>
        </li>
    <li class="nav-item">
        <a href="/favorites"class="nav-link-2"><img style="height: 25px" src="/img/home/favourite.svg" title="Favourites" alt=""></a>
        </li>
        <li class="nav-item nav_profile" >
            <a href="/customer/<%=user._id%>" title="View profile"><img src="<%=user.image%>" alt=""></a>
        </li>
<%}%>
        
<%} else {%>
    <li>
        <form id="searchbar"  class="search-form" action="/search" method="get">
            <input type="text" id="searchName" class="search-input" name="q">
            <button hidden></button>
        </form>
    </li>
    <li class="nav-item">
        <a  class="nav-link-1"><img id="searchbar_img" src="/img/home/search.svg" title="Search any product" alt=""></a>
    </li>
    <li class="nav-item">
        <a href="/mobile/compare"  class="nav-link-1"><img src="/img/home/compare.svg" title="Compare mobiles!" alt=""></a>
    </li>
    <li class="nav-item">
        <a href="/login"class="nav-link-2"><img src="/img/home/history.svg" title="Login to view" alt=""></a>
     </li>
     <li class="nav-item">
        <a href="/login"class="nav-link-2"><img style="height: 25px" src="/img/home/favourite.svg" title="Login to wishlist" alt=""></a>
        </li>
     <li class="nav-item">
                <a href="/login" title="Login here" class="nav-link-3"><img src="/img/home/account.svg" alt=""></a>
      </li>
<%}%>

            </ul>
        </nav>
    </header>

<%- body %>

    <footer>
        <div class="footer-container">
            <div class="footer-1">
                <img class="footer-logo" src="/img/home/logo.svg" alt="">
                <p>Using our website you can compare other mobile phones side by side in order to measure each specifications against the same feature of the other ones.</p>
            </div>
            <div class="footer-2">
                <p>Useful Links</p>
                <ul>
                    <% if(user) { %>
                        <% if(user.role==='admin') { %>
                    <li><a href="/" target="_blank">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/mobile/compare" target="_blank">Compare</a></li>
                    <li><a href="/admin/home" target="_blank">Admin</a></li>
                    <%} else {%>
                    <li><a href="/" target="_blank">Home</a></li>
                    <li><a href="/about" target="_blank">About us</a></li>
                    <li><a href="/contactUs" target="_blank">Contact</a></li>
                    <li><a href="/mobile/compare" target="_blank">Compare</a></li>
                    <%}%>
                    <%} else {%>
                    <li><a href="/" target="_blank">Home</a></li>
                    <li><a href="/about" target="_blank">About us</a></li>
                    <li><a href="/contactUs" target="_blank">Contact</a></li>
                    <li><a href="/mobile/compare" target="_blank">Compare</a></li>
                    <%}%>
                </ul>
            </div>
            <div class="footer-3">
                <p>Contact Us</p>
                <ul style="display: flex;">
                    <li><i class="fas fa-map-marker-alt"></i></li>
                    <li><a href="https://www.google.com/maps/place/190+Bowery,+New+York,+NY+10012,+USA/@40.7211892,-73.9962564,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259860f9f0c93:0x40f57b799291d5c5!8m2!3d40.7211892!4d-73.9940677" target="_blank" >190 Bowery Street New York, NY 10012</a></li>
                </ul>
                <ul style="display: flex;">
                    <li><i class="fas fa-phone"></i></li>
                    <li><a href="tel:+17786812901">+1 77868 12901</a></li>
                </ul>
                <ul style="display: flex;">
                    <li><i class="fas fa-envelope"></i></li>
                    <li><a href="mailto:asap6920@gmail.com">asap6920@gmail.com</a></li>
                </ul>
            </div>
            <div class="footer-4">
                <p id="success-subscribe">Subscribe for newsletters</p>
                <div class="subscribe-input">
                    <form id="newsForm">
                    <input type="email" id="sub-email" placeholder="Your email" name="subscribeEmail" onkeyup="checkForm()">
                    <button type="submit" id="sub-submit" disabled="disabled"><i class="fas fa-chevron-right" ></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="social-icons">
            <div class="facebook">
                <a href="https://www.facebook.com/ASAP-110565714790429" target="_blank">
                    <img src="/img/home/FACEBOOK.svg" alt="">
                </a>
            </div>
            <div class="twitter">
                <a href="https://twitter.com/ASAP6911" target="_blank">
                    <img src="/img/home/TWITTER.svg" alt="">
                </a>
            </div>
            <div class="discord">
                <a href="https://discord.gg/8Jg64w7n6c" target="_blank">
                    <img src="/img/home/DISCORD.svg" alt="">
                </a>
            </div>
            <div class="instagram">
                <a href="https://www.instagram.com/asap6920/" target="_blank">
                    <img src="/img/home/INSTAGRAM.svg" alt="">
                </a>
            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/asap-project-52136a227/" target="_blank">
                    <img src="/img/home/LINKEDIN.svg" alt="">
                </a>
            </div>
            <div class="reddit">
               <a href="https://www.reddit.com/user/ASAP6920" target="_blank">
                <img src="/img/home/REDDIT.svg" alt="">
               </a>
            </div>
        </div>
        <hr>

            

        <div class="footer-6">
            <p> &copy; All Rights Reserved 2021-2022</p>
            <div class="footer-6-img">
            <p>Designed by</p> <img src="/img/home/logo.svg" alt="">
        </div>
        </div>
    </footer>

    <a href="javascript:void(0)" class="scrollup">
            <i class="fas fa-chevron-up"></i>
    </a>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/lightslider.js" ></script>
<script src="/js/Mobile-Home.js"></script>
<script src="/js/colorChange.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/search.js"></script>
<script src="/js/subscribe.js"></script>
<script src="/js/captcha.js"></script>
<script src="/js/fav.js"></script>
</body>
</html>
