<div class="search_master_container">
    <div class="search_main_title">
        <% if(typeof error != 'undefined'){ %>
            <h1>0 results found</h1>
       <%}%>
       <% if(typeof details != 'undefined') {%>
            <h1><%=details.length%> results found</h1>
       <%}%>
   </div>

   <div class="search_master">
       <div  class="search_main_container">
           <% if(typeof error != 'undefined'){ %>
               <div class="error">
           <h1><%=error%></h1>
       </div>
       <%}%>
       <% if(typeof details != 'undefined') {%>
            <% if(details.length > 0){ let a=1; details.forEach(function(detail) { %>
            <div class="search_item">
                <div class="search_title">
                    <h1><%=detail.name%></h1>
                </div>
                
                <div class="search_img">
                    <img class="search_img_size" id="searchImageChange<%=a%>" src="<%=detail.image%>" alt="">
                </div>
                <ul class="search_shades">
                    <%detail.collections.forEach(function(coll) {%>
                    <li class="search_color_1" style="background-color: <%=coll.color%>" onclick="(searchSlider(this.id,'<%=a%>'))" id="<%=coll.image%>"></li>
                    <%})%>
                </ul>
                <div class="search_price">
                    <div class="search_tag">
                        <p>Starting from $<%=detail.startingPrice%></p>
                        </div>
                    <div class="buy_button">
                        <a href="/mobile/<%= detail._id %>" target="_blank" class="buy">View</a>
                    </div>
                </div>
            </div>
            <%a++})%>
            <%} else{%>

    <div class="error">

        <h1>Try another search term 😬</h1>
    
</div>

<%} }%>

            
            </div>
        </div>
    </div>